
.DS_Store
Project/AnyKnew.xcworkspace/xcuserdata/kuntanury.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Project/AnyKnew.xcworkspace/xcuserdata/kuntanury.xcuserdatad/UserInterfaceState.xcuserstate
